<% if @answer_url %>
<h1><a href="<%= @answer_url %>"><%= @answer_text %></a></h1>
<% else %>
<h1><%= @answer_text %></h1>
<% end %>
<a href="https://github.com/mkdynamic/dcut"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>